* {
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

body {
  background: #f9f9f9;
  font-family: 'Oswald', 'Open Sans', 'Georgia', serif;
  text-rendering: optimizeLegibility;
}

#container {
  width: 640px;
  display: block;
  margin: 0 auto;
}

#header,
#footer {
  display: block;
  float: left;
  width: 640px;
  color: #000;
  text-align: center;
  background-color: none;
  font-size: 3.5em;
  font-weight: bold;
  margin-bottom: 0.1em;
}

#sub-header {
  display: block;
  width: 640px;
  color: #999;
  text-align: center;
  background-color: none;
  font-size: 1.5em;
  font-weight: bold;
  margin-bottom: 1em;
}

#header span {
  color: red;
}

#footer {
  text-align: center;
  font-size: 2rem;
  margin-top: 3em;
  margin-bottom: 2em;
  font-size: 1em;
}

#footer a {
  text-decoration: none;
  color: #8b3e2f;
}

#bingo-table {
  display: grid;
  width: 640px;
  grid-template-columns: repeat(5, auto);
  /* float: left; */
  background-color: #fff;
  border: 2px solid #d1d1d1;
}

.square,
.freesquare {
  float: left;
  overflow: hidden;
  background-color: #fff;
  color: #000;
  text-align: center;
  height: 110px;
  padding: 3px;
  border: 2px solid #d1d1d1;
  border-collapse: collapse;
  transition-property: background-color;
  transition-duration: 0.5s;
  -moz-transition-property: background-color;
  -moz-transition-duration: 0.5s;
  -webkit-transition-property: background-color;
  -webkit-transition-duration: 0.5s;
}

.selected {
  color: #f1f1f1;
  background-color: #000;
}

.freesquare {
  color: #f1f1f1;
  background-color: #000;
}

.text {
  font-family: 'Oswald', 'Open Sans', 'Georgia', serif;
  vertical-align: middle;
  font-size: 1.2em;
  line-height: 1.2em;
}
